


.container {
    width: 500px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 400px 400px;
    
}

.grid {
    border: solid 2px black;
    padding: 30px;
    display: flex;
 }

 .grid:hover {
    background-color: blue;
 }



 